<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="dashboard-container">
    <app-side-nav class="side-nav"></app-side-nav>
    <div class="content-container">
      <nav>
        <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
        <li class="leading-normal text-sm">
        <a class="opacity-50 text-slate-700" href="javascript:;">Pages /</a>
        </li>
        <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">UnAssigned Requests</li>
        </ol>
        <h6 class="mb-0 font-bold capitalize">UnAssigned Requests</h6>
    </nav>
        <div class="filter-search-container">
            <form class="search-from" [formGroup]="searchFrom">
              <mat-form-field appearance="outline" class="search-input">
                  <input matInput placeholder="Enter Title To Search" formControlName="title" (input)="searchRequest()">
              </mat-form-field>
            </form>
            <a></a>
          </div>
          <div class="w-full px-6 py-6 mx auto">
            <div class="flex flex-wrap -mx-3">
              
              <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
              <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
              <div class="flex flex-row -mx-3">
              <div class="flex-none w-2/3 max-w-full px-3">
              <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">&nbsp;Assigned Requests</p>
              <h5 class="mb-0 font-bold">
              {{ assignedRequestsCount }}
              </h5>
              </div>
              </div>
              <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                <i class="fa-solid fa-tasks text-lg relative top-3 text-white"></i>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                <div>
                <p class="mb-0 font-sans font-semibold leading-normal text-sm">UnAssigned Requests</p>
                <h5 class="mb-0 font-bold">
                {{ unassignedRequestsCount }}
                </h5>
                </div>
                </div>
                <div class="px-3 text-right basis-1/3">
                <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                  <i class="fa-solid fa-user-clock text-lg relative top-3 text-white"></i>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
              
              <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
              <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
              <div class="flex flex-row -mx-3">
              <div class="flex-none w-2/3 max-w-full px-3">
              <div>
              <p class="mb-0 font-sans font-semibold leading-normal text-sm">InProgress Requests</p>
              <h5 class="mb-0 font-bold">
              {{ InProgressRequestsCount }}
              </h5>
              </div>
              </div>
              <div class="px-3 text-right basis-1/3">
              <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                <i class="fa-solid fa-spinner text-lg relative top-3 text-white"></i>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              
              <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white shadow-soft-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                <div class="flex-none w-2/3 max-w-full px-3">
                <div>
                <p class="mb-0 font-sans font-semibold leading-normal text-sm">Pending&nbsp; Requests</p>
                <h5 class="mb-0 font-bold">
                {{ pendingRequestsCount }}
                </h5>
                </div>
                </div>
                <div class="px-3 text-right basis-1/3">
                <div class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500">
                  <i class="fa-solid fa-hourglass-half text-lg relative top-3 text-white"></i>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
      </div>
        </div> 
        <div class="request-list flex flex-wrap">
            <mat-card class="request-card" *ngFor="let request of listOfRequests">
              <div class="request-details">
                <h2 class="request-name">{{request.title}}</h2>
                <p class="request-description">{{request.description}}</p>
                <mat-divider></mat-divider>
                <div class="request-info">
                  <div class="info-row">
                    <span class="info-label">Creation Date :</span>
                    <span class="info-value">{{ request.creationDate ? (request.creationDate | date: 'MMM d, y') : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Due Date :</span>
                    <span class="info-value">{{ request.lastUpdate ? (request.lastUpdate | date: 'MMM d, y') : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Requester's Name :</span>
                    <span class="info-value">{{ request.employeeName }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Priority :</span>
                    <span class="info-value">{{ request.priority }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Status :</span>
                    <span class="info-value" style="color: blueviolet;">{{ request.status }}</span>
                  </div>
                </div>
    
                <mat-divider></mat-divider>
                <div class="actions">
                  <button mat-icon-button color="accent" class="view-button" [routerLink]="'/admin/technicianAssigning/'+request.requestId" matTooltip="Assign Request">
                    <mat-icon>assignment_turned_in</mat-icon>
                  </button>
                  
                </div>
    
              </div>
            </mat-card>
          </div>
    </div>
</div>