<div class="dashboard-container">
    <app-side-nav class="side-nav"></app-side-nav>
    <div class="content-container">
      <nav>
        <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
        <li class="leading-normal text-sm">
        <a class="opacity-50 text-slate-700" href="javascript:;">Pages /</a>
        </li>
        <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Post Request</li>
        </ol>
        <h6 class="mb-0 font-bold capitalize">Post Request</h6>
    </nav>
      <div class="container">
        <h2 class="form-title">New Request</h2>
        <form [formGroup]="requestForm" class="custom-form">
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter title">
            <div *ngIf="requestForm.get('title')?.invalid && requestForm.get('title')?.touched" class="invalid-feedback">
              Title is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="description" class="form-label">Detailed Description</label>
            <textarea id="description" class="form-control" formControlName="description" placeholder="Enter description"></textarea>
            <div *ngIf="requestForm.get('description')?.invalid && requestForm.get('description')?.touched" class="invalid-feedback">
              Description is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="lastUpdate" class="form-label">Due Date</label>
            <input type="date" id="lastUpdate" class="form-control" formControlName="lastUpdate">
            <div *ngIf="requestForm.get('lastUpdate')?.invalid && requestForm.get('lastUpdate')?.touched" class="invalid-feedback">
              Due Date is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="priority" class="form-label">Priority Of Request</label>
            <select id="priority" class="form-control" formControlName="priority">
              <option *ngFor="let priority of listOfPriorities" [value]="priority">{{ priority }}</option>
            </select>
            <div *ngIf="requestForm.get('priority')?.invalid && requestForm.get('priority')?.touched" class="invalid-feedback">
              Priority is required
            </div>
          </div>
  
          <!-- <div class="form-group">
            <label for="material" class="form-label">Material</label>
            <select id="material" class="form-control" formControlName="material">
                <option *ngFor="let material of listOfMaterials" [value]="material">{{ material }}</option>
            </select>
            <div *ngIf="requestForm.get('material')?.invalid && requestForm.get('material')?.touched" class="invalid-feedback">
              Material is required
            </div>
          </div> -->
  
          <button type="submit" class="inline-block w-full px-4 py-2 mt-4 mb-0 font-bold text-center text-black uppercase align-middle 
          transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in 
          tracking-tight-soft bg-gradient-to-tl from-purpule-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85" (click)="postRequest()">Post Request</button>    
            </form>
      </div>
    </div>
  </div>
  