<div class="dashboard-container">
    <app-side-nav class="side-nav"></app-side-nav>
    <div class="content-container">
      <nav>
        <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
        <li class="leading-normal text-sm">
        <a class="opacity-50 text-slate-700" href="javascript:;">Pages /</a>
        </li>
        <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Assigning Page</li>
        </ol>
        <h6 class="mb-0 font-bold capitalize">Assigning Page</h6>
    </nav>
      <div class="container">
        <h2 class="form-title">Assign Technician To Request</h2>
        <form [formGroup]="updateFrom" class="custom-form">
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter title" readonly>
            <div *ngIf="updateFrom.get('title')?.invalid && updateFrom.get('title')?.touched" class="invalid-feedback">
              Title is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="description" class="form-label">Detailed Description</label>
            <textarea id="description" class="form-control" formControlName="description" placeholder="Enter description" readonly></textarea>
            <div *ngIf="updateFrom.get('description')?.invalid && updateFrom.get('description')?.touched" class="invalid-feedback">
              Description is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="lastUpdate" class="form-label">Due Date</label>
            <input type="date" id="lastUpdate" class="form-control" formControlName="lastUpdate" readonly>
            <div *ngIf="updateFrom.get('lastUpdate')?.invalid && updateFrom.get('lastUpdate')?.touched" class="invalid-feedback">
              Due Date is required
            </div>
          </div>
          <div class="form-group">
            <label for="priority" class="form-label">Priority Of Request</label>
            <select id="priority" class="form-control" formControlName="priority" readonly>
              <option *ngFor="let priority of listOfPriorities" [value]="priority"disabled>{{ priority }}</option>
            </select>
            <div *ngIf="updateFrom.get('priority')?.invalid && updateFrom.get('priority')?.touched" class="invalid-feedback">
              Priority is required
            </div>
          </div>
          
          <div class="form-group">
            <label for="status" class="form-label">Status Of Request</label>
            <select id="status" class="form-control" formControlName="status" readonly>
              <option *ngFor="let status of statusOptions" [value]="status" disabled>{{ status }}</option>
            </select>
            <div *ngIf="updateFrom.get('status')?.invalid && updateFrom.get('status')?.touched" class="invalid-feedback">
              Status is required
            </div>
          </div>
          <div class="form-group">
            <label for="technicianId" class="form-label">Technicians</label>
            <select id="technicianId" class="form-control" formControlName="technicianId">
              <option *ngFor="let technician of ListOfTechnicians" [value]="technician.id">{{ technician.name }}</option>
            </select>
            <div *ngIf="updateFrom.get('technicianId')?.invalid && updateFrom.get('technicianId')?.touched" class="invalid-feedback">
              Technician is required
            </div>
          </div>
  
          <button type="submit" class="inline-block w-full px-4 py-2 mt-4 mb-0 font-bold text-center text-black uppercase align-middle 
          transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in 
          tracking-tight-soft bg-gradient-to-tl from-purpule-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85" (click)="updateRequestTechnician()">Assign The Request</button>    
            </form>
      </div>
    </div>
  </div>
  