<div class="dashboard-container">
    <app-side-nav class="side-nav"></app-side-nav>
    <div class="content-container">
      <nav>
        <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
        <li class="leading-normal text-sm">
        <a class="opacity-50 text-slate-700" href="javascript:;">Pages /</a>
        </li>
        <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Requests To Do</li>
        </ol>
        <h6 class="mb-0 font-bold capitalize">Requests To Do</h6>
    </nav>
        <div class="filter-search-container">
            <div class="filter-container">
                <mat-form-field appearance="fill">
                  <mat-label>Filter by Status</mat-label>
                  <mat-select [(value)]="filterStatus" (selectionChange)="getAllClaimedRequests()">
                    <mat-option *ngFor="let status of statusOptions" [value]="status">
                      {{ status }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            <form class="search-from" [formGroup]="searchFrom">
              <mat-form-field appearance="outline" class="search-input">
                  <input matInput placeholder="Enter Title To Search" formControlName="title" (input)="searchRequest()">
              </mat-form-field>
            </form>
            <a></a>
          </div>
        <div class="request-list flex flex-wrap">
            <mat-card class="request-card" *ngFor="let request of listOfRequests">
              <div class="request-details">
                <h2 class="request-name">{{request.title}}</h2>
                <p class="request-description">{{request.description}}</p>
                <mat-divider></mat-divider>
                <div class="request-info">
                  <div class="info-row">
                    <span class="info-label">Creation Date :</span>
                    <span class="info-value">{{ request.creationDate ? (request.creationDate | date: 'MMM d, y') : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Due Date :</span>
                    <span class="info-value">{{ request.lastUpdate ? (request.lastUpdate | date: 'MMM d, y') : 'N/A' }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Requester's Name :</span>
                    <span class="info-value">{{ request.employeeName }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Priority :</span>
                    <span class="info-value">{{ request.priority }}</span>
                  </div>
                  <div class="info-row">
                    <span class="info-label">Status :</span>
                    <span class="info-value" style="color: blueviolet;">{{ request.status }}</span>
                  </div>
                </div>
    
                <mat-divider></mat-divider>
                <div class="actions">
                  <button mat-icon-button color="accent" class="update-button" [routerLink]="['/technician/requestsStatusUpdate/'+request.requestId]" matTooltip="Edit Request Status">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button *ngIf="request.status === 'COMPLETED' || request.status === 'CANCELLED'" mat-icon-button color="warn" class="archive-button" (click)="archiveRequest(request.requestId)" matTooltip="Archive Request">
                    <mat-icon>archive</mat-icon>
                  </button>

                </div>
    
              </div>
            </mat-card>
          </div>
    </div>
</div>